:root {
  font-family: system-ui;
  color: #363a4f;
}

code {
  background-color: #1e66f540;
  padding: 0.2em;
  border-radius: 2px;
}

p {
  line-height: 1.5em;
  text-align: justify;
}

html {
  background: linear-gradient(white, #dbdefc);
  background-attachment: fixed;
}

h1 {
    text-align: center;
    font-weight: 900;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    text-align: center;
    font-style: italic;
}

#maincont {
    width: 90%;
    min-width: 100px;
    max-width: 700px;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}